body {
    background-color: beige;
}

h1 {
    color: tomato;
    transition:color .5s ease-in-out;
}

.clicked {
    color: yellowgreen;
}

.sexy-font {
    font-family:'Times New Roman', Times, serif;
}